<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is about page</title>
</head>
<body>
    <section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center">Add Contact</h1>
                <div th:if="${param.error}" class="alert alert-danger text-center">
                    Invalid Details
                </div>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action=""
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="POST"
                                th:action="@{/user/process-contact}"
                                class="mt-2"
                                >

                                <!-- First Name -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" 
                                    type="text" 
                                    id="fisrtName" 
                                    name="name" 
                                    placeholder="Enter Name Here"
                                    required>
                                </div>

                                <!-- Second Name -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" 
                                    type="text" 
                                    id="secondName" 
                                    name="secondName" 
                                    placeholder="Enter Second Name Here"
                                    required>
                                </div>

                                <!-- Phone Number -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" 
                                    type="number" 
                                    id="phone" 
                                    name="phone" 
                                    placeholder="Enter Phone Number Here"
                                    required>
                                </div>

                                <!-- Email-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            @
                                        </div>
                                    </div>
                                    <input class="form-control" 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    placeholder="Enter Email Here"
                                    required>
                                </div>

                                <!-- Work -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" 
                                    type="text" 
                                    id="work" 
                                    name="work" 
                                    placeholder="Enter Work Here"
                                    required>
                                </div>

                                <!-- Description Area -->
                                <div class="form-group mt-3">
                                    <textarea class="form-control" 
                                    name="description" 
                                    id="mytextarea" 
                                    rows="7" 
                                    placeholder="Enter Description Here "></textarea>
                                </div>

                                <!-- Image Field -->
                                <div class="custom-file">
                                    <input type="file" name="profileImage">
                                </div>

                                <!-- Submit Button -->
                                <div class="container text-center mt-3">
                                    <button class="btn btn-outline-primary">Save Contact</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: '#mytextarea'
            });
          </script>
    </section>
</body>
</html>