<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is about page</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>This is UserDashBoard page</h1>
            <h1>UserName <span th:text="${user.email}"></span></h1>
            <h1>Name <span th:text="${user.name}"></span></h1>
            <h1><a href="" th:href="@{/logout}">Logout</a></h1>
        </div>
    </section>
</body>
</html>