<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is about page</title>
</head>
<body>
    <section>
        <h1>This is UserDashBoard page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ad, ullam assumenda doloremque eos ipsum, doloribus quasi perspiciatis voluptates voluptatibus debitis. Vero, corporis? Iure, mollitia reprehenderit? Cumque, illum nobis laboriosam ipsum vel totam aliquid temporibus. Voluptas magnam id fuga, maiores error explicabo possimus tempore laudantium! Soluta quod explicabo commodi libero!</p>
    </section>
</body>
</html>